:root {
  --blue:  #00549F;
  --white: #ffffff;
  --brown: #B29962;
  --ez_text_font:         ;
  --ez_text_color:        ;
  --ez_link_color:        ;
  --ez_brand_color:       ;
  --ez_heading_font:      ;
  --ez_brand_text_color:  ;
  --ez_background_color:  ;

}

.service-catalog-header-label {
  margin-top:  34px;
  margin-left: 170px;
}

.service-catalog-description {
  margin-left: 170px;
}

.service-catalog-section {
  margin-top:  50px;
  margin-left: 100px;
}

.service-catalog-search {
  width:         100%;
  box-sizing:    border-box;
}

.service-categories-heading {
  font-weight: bold;
}

.service-catalog-search input {
  color:          #808080;
  height:         30px;
  border:         1px #808080 solid;
  font-size:      12px;
  font-weight:    400;
  line-height:    17px;
  border-radius:  10px;
  padding-left:   25px;
  background:     transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 5px center;
}

.service-categories-list {
  height:       450px;
  font-size:    14px;
  list-style:   none;
  overflow-y:   scroll;
  font-weight:  400;
  line-height:  17px;
  padding-top:  10px;
}

.service-categories-list ul {
  padding-left: 0px !important;
}

.service-categories-list ul li {
  padding: 10px;
}

.service-categories-list ul li.active {
  color: var(--brand_color);
  font-weight: 700;
}

.service-categories-list ul li a {
  color:           inherit;
  text-decoration: none;
}

.service-categories-list ul li a:hover {
  color: var(--brown);
}

.service-categories-list ul li a:active {
  color: var(--brown);
}

.service-category-label {
  color:        black;
  word-wrap:    break-word;
  font-size:    18px;
  font-weight:  400;
}

.service-category-description {
  color:        #808080;
  font-size:    14px;
  word-wrap:    break-word;
  font-weight:  400;
}

.service-item-card {
  width:        280px;
  height:       120px;
  border:       1px #D9D9D9 solid !important;
  padding:      4px;
  background:   white;
  margin-top:   12px;
  margin-left:  inherit;
  margin-right: 20px;
}

.service-item-card a {
  text-decoration: none;
}

.service-item-card .card-body {
  position: relative;
}

.service-item-card .card-body .card-title {
  font-size:     12px;
  padding-top:   10px;
  padding-right: 10px;
}

.service-item-card .card-body .card-content-container {
  padding-top: 10px;
}

.service-item-card .card-body .card-content-table {
  width:        100%;
  font-size:    11px;
  word-wrap:    break-word; 
  font-weight:  400;
  line-height:  14px;
  padding-top:  10px;
}

.service-item-card .card-body .card-content-table tr th {
  color: #595959;
}

.service-item-card .card-body .card-content-table tr td {
  color: black;
}

.service-item-card .description {
  color:        #595959;
  word-wrap:    break-word;
  font-size:    11px;
  font-weight:  400;
  line-height:  14px;
  padding-top:  10px;
  display:      -webkit-box;
  overflow:      hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.service-item-card .card-footer {
  color:        #595959;
  right:        0;
  bottom:       0;
  position:     absolute;
  font-size:    11px;
  padding-top:  10px;
  font-weight:  400;
  padding-top:  10px;
}

.service-item-card .it-asset-card-footer {
  right:        0;
  color:        var(--brown);
  bottom:       0;
  position:     absolute;
  font-size:    11px;
  padding-top:  10px;
  font-weight:  700;
  padding-top:  10px;
}

.service-item-card .card-footer .footer-arrow {
  color:        var(--brown);
  font-size:    15px;
  font-weight:  700; 
  margin-right: 5px;
}

.service-item-card .it-asset-card-footer .footer-arrow {
  font-size:    15px;
  font-weight:  700; 
  margin-right: 5px;
  padding-left: 5px;
}

.request-service-btn {
  color:            var(--white);
  width:            140px;
  height:           42px;
  border:           2px solid var(--brown);
  font-size:        14px;
  background:       var(--brown);
  font-weight:      700;
  border-radius:    10px;
  text-decoration:  none !important;
}

.service-item-detail-description-list {
  color:        black;
  font-size:    14px;
  list-style:   disc !important;
  font-weight:  400;
  line-height:  17px;
}

a.request-service-btn:hover {
  color:            white !important;
  background-color: var(--brown) !important;
}

.no-access-image {
  margin-bottom: 20px;
}

.next-steps-message {
  color:        black;
  word-wrap:    break-word;
  font-size:    14px;
  font-family:  Arial;
  font-weight:  400;
}

.go-back-btn {
  color:            var(--blue) !important;
  border:           2px var(--blue) solid !important;
  border-radius:    10px !important;
  text-decoration:  none;
}

.contact-administrator-btn {
  color:            var(--blue) !important;
  border:           2px var(--blue) solid !important;
  border-radius:    10px;
  text-decoration:  none;
}

a.go-back-btn:hover {
  color:            white !important;
  text-decoration:  none;
  background-color: var(--blue) !important;
}

a.contact-administrator-btn:hover {
  color:            white !important;
  text-decoration:  none;
  background-color: var(--blue) !important;
}