:root {
  --white: #ffffff;
  --brown: #B29962;
}

.service-catalog-section {
  margin-left: 50px;
}

.service-catalog-search {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.service-catalog-search input {
  border-radius: 5px;
}

.service-categories-list {
  height:       450px;
  font-size:    14px;
  list-style:   none;
  overflow-y:   scroll;
  font-weight:  400;
  line-height:  17px; 
}

.service-categories-list ul li {
  padding: 10px;
}

.service-categories-list ul li.active {
  color: var(--brown);
  font-weight: 700;
}

.service-categories-list ul li a {
  color:           inherit;
  text-decoration: none;
}

.service-categories-list ul li a:hover {
  color: var(--brown);
}

.service-categories-list ul li a:active {
  color: var(--brown);
}

.service-categories-list ul li a:visited {
  color: var(--brown);
}

.service-item-card {
  width:        280px;
  height:       120px;
  margin-right: 40px;
}

.service-item-card a {
  text-decoration: none;
}

.service-item-card .card-body {
  position: relative;
}

.service-item-card .card-body .card-title {
  font-size:     12px;
  padding-top:   10px;
  padding-right: 10px;
}

.service-item-card .card-body .card-content-container {
  padding-top: 10px;
}

.service-item-card .card-body .card-content-table {
  width:        100%;
  font-size:    11px;
  word-wrap:    break-word; 
  font-weight:  400;
  line-height:  14px;
  padding-top:  10px;
}

.service-item-card .description {
  color:        #595959;
  word-wrap:    break-word;
  font-size:    11px;
  font-weight:  400;
  line-height:  14px;
  padding-top:  10px;
  display:      -webkit-box;
  overflow:      hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.service-item-card .card-footer {
  right:        0;
  color:        var(--brown);
  bottom:       0;
  font-size:    11px;
  padding-top:  10px;
  font-weight:  700;
  padding-top:  10px;
}

.service-item-card .it-asset-card-footer {
  right:        0;
  color:        var(--brown);
  bottom:       0;
  position:     absolute;
  font-size:    11px;
  padding-top:  10px;
  font-weight:  700;
  padding-top:  10px;
}

.service-item-card .card-footer .footer-arrow {
  font-size:    15px;
  font-weight:  700; 
  margin-right: 5px;
}

.service-item-card .it-asset-card-footer .footer-arrow {
  font-size:    15px;
  font-weight:  700; 
  margin-right: 5px;
}

.request-service-btn {
  color:            var(--white);
  width:            140px;
  height:           42px;
  border:           2px solid var(--brown);
  font-size:        14px;
  background:       var(--brown);
  font-weight:      700;
  border-radius:    10px;
  text-decoration:  none !important;
}

.service-item-detail-description-list {
  list-style: disc !important;
}

a.request-service-btn:hover {
  color: currentColor;
}