.service-catalog-search {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.service-categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-categories-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.service-categories-list li a {
  text-decoration: none;
}

.service-item-card {
  width: 400px;
  height: 400px;
}