.customer-effort-survery-dialog-position {
  width:      100%;
  right:      2%;
  bottom:     2%;
  margin:     0px;
  position:   absolute;
  max-width:  326px !important;
  min-width:  auto;
}

.selected-emoji-background {
  fill: #107DD8;
}

.kb-svg-icon {
  width:  48px;
  height: 48px;
}

.comment-section {
  width:          100%;
  border:         1px solid #D9D9D9;
  resize:         vertical;
  padding:        8px;
  margin-top:     4%;
  box-sizing:     border-box;
  border-radius:  8px;
}