.customer-effort-survery-dialog-position {
  width:      100%;
  right:      2%;
  bottom:     2%;
  margin:     0px;
  position:   absolute;
  max-width:  326px !important;
  min-width:  auto;
}

.selected-emoji-background {
  fill: #107DD8;
}

.kb-svg-icon {
  width:  48px;
  height: 48px;
}